body{ 
    padding-top: 8%;
    margin-bottom: 0%;
    background-color: #FFEDDF!important;
    font-family: Helvetica, Arial, sans-serif!important;
}
h1{
    text-align: center;
    color: #FC845F;
    text-transform: capitalize;
}
h2{
    text-align: left;
    color: #003C66;
}
h3{
    text-align: left;
    color: #005fa3;
}
h4{
    text-align: left;
    color: #0083e0;
}
footer{
    background-color: #09BC8A;
    margin-top: 3%;
} 
nav{
    background-color: #09BC8A;    
}
.dropdown-item a:hover {
    color: black;
    background-color: #15f4b5;
  }
